body {
    background-color: rgba(100, 100, 100, 1);
    margin-left: auto;
    margin-right: auto;
    width: 70em;
}
ul {
    text-align: left;
}
.grid-container {
    display: grid;
    background-color: black;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10px;
}
.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 1); */
    background-color: rgb(200, 200, 200);
    padding: 20px 20px;
    text-align: center;
}
