/* @font-face {
    font-family: "Bitter";
    src: url("bitter_font/static/Bitter-Medium.ttf");
}  */

button {
    width: 6em
}

/* span:hover span {
    display: none
} */

span:hover:after {
    content: " (The University of Michigan)"
}

body {
    /* background-color: rgba(100, 100, 100, 1); */
    background-color: rgb(101, 151, 173);
    margin-left: auto;
    margin-right: auto;
    font-family: 'Bitter', serif;
    width: 50em;
}

div {
    /* border: 1px solid rgba(0, 0, 0, 1); */
    background-color: rgb(200, 200, 200);
    padding: 20px 20px;
    text-align: center;
}

ul {
    text-align: left;
}

.classes {
    list-style: none;
    font-size: 90%;
    padding: 0px 0px;
}

.reading {
    list-style: none;
    padding: 0px 0px;
}

.outer-grid {
    display: grid;
    background-color: rgb(90, 90, 90);
    /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
    padding: 10px;
}

.outer-item {
    border: 1px solid rgb(90, 90, 90, 1);
    /* padding: 0px; */
}

.header-grid {
    display: grid;
    /* background-color: black; */
    grid-template-columns: 220px auto;
    padding: 0px;
}

.tab-grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    padding: 0px;
}

.tab {
    padding: 20px 20px;
    text-align: center;
}

/* .p {
    line-height: 0px;
    padding: 0px;
} */

.collapsible {
    cursor: pointer;
}

.experience {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 110%;
    /* text-align: left; */
}

.project {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 110%;
    /* text-align: left; */
}

.date {
    margin-top: 0px;
    display: inline;
    color: rgb(100, 100, 100);
}

.author {
    margin-top: 0px;
    display: inline;
    text-align: center;
    margin-left: 30px;
    color: rgb(100, 100, 100);
}

.description {
    color: rgb(100, 100, 100);
    text-align: left;
}

.expdescription {
    text-align: left;
}

.skill {
    color: black;
    font-weight: bold;
    font-size: 90%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */